* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: #f8f9f9;
}
a {
  text-decoration: none;
  color: white;
}
